# Port (optional, defaults to 8000)
PORT=8000

## MINT
MINT_API_URL=https://api.mint.dev/api

## Telegram
# Local
MINT_TELEGRAM_WEBAPP_HOST=https://mint.dev
MINT_TELEGRAM_WEBAPP_URL=https://mint.dev?tgma
MINT_TELEGRAM_WEBAPP_HOMEPAGE=https://mint.dev/casinos?tgma
# Telegram Bot Token (from BotFather)
TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN

# Staging
# MINT_TELEGRAM_WEBAPP_HOST=https://tgma.mintstage.io
# MINT_TELEGRAM_WEBAPP_URL=https://tgma.mintstage.io?tgma
# MINT_TELEGRAM_WEBAPP_HOMEPAGE=https://tgma.mintstage.io/casinos?tgma
# Telegram Bot Token (from BotFather)
# TELEGRAM_BOT_TOKEN=8129513512:AAGBs6v1aCVotIh3XB8lq-2AAn3_6_jiD9I

# Webhook secret (generated using pnpm generate-secret)
TELEGRAM_BOT_WEBHOOK_SECRET=your_generated_secret

# Vercel Auth
VERCEL_PROTECTION_PASS=
